body {
	width: 100%;
	margin: 0;
	float: none;
	background: #fff url(none);
	font: 0.9em Georgia, "Times New Roman", Times, serif;
	color: #000; 
}
#obsah {
	width: 100%;
	margin: 0;
	padding: 0;
	float: none;
	background: #fff url(none);
}
#menu, #sparklets, .poznamka-edit-buttons {
	display: none;
}
a:link, a:visited {
	color: #00c;
	font-weight: bold;
	text-decoration: underline;
}
/*
#obsah a:link:after, #obsah a:visited:after {
	content: " (" attr(href) ") ";
}
/**/