body {
	width: 100%;
	margin: 0;
	float: none;
	background: #fff url(none);
	font: 0.9em Georgia, "Times New Roman", Times, serif;
	color: #000; 
}
#obsah {
	width: 100%;
	margin: 0;
	padding: 0;
	float: none;
	background: #fff url(none);
}
#menu, #sparklets {
	display: none;
}
h1,h2,h3,h4,h5,h6 {
	font-family: Helvetica, Arial, sans-serif;
	color: #000;
}
h1 { font-size: 200%; }
h2 { font-size: 150%; }
h3 { font-size: 120%; }
h4 { font-size: 100%; font-variant: small-caps; }
h5 { font-size: 100%; }
h6 { font-size: 90%; font-style: italic; }

a:link, a:visited {
	color: #00c;
	font-weight: bold;
	text-decoration: underline;
}
/*
#obsah a:link:after, #obsah a:visited:after {
	content: " (" attr(href) ") ";
}
/**/