RewriteEngine on

RewriteRule  ^(admin)/$ admin/$2 [L]

RewriteRule  ^index.php$ index.php [L]
RewriteRule  ^((([a-z0-9]+(-[a-z0-9]+){0,})(/([a-z0-9]+(-[a-z0-9]+){0,})){0,})/?)?$ index.php?addr=$2 [L]
