<a href="/backup/now">{$text['zalohovatrucne']}</a>

{$text['existujicizalohy']} - odkazy nejsou platne, chybi handler
{foreach $backup as $backupFile}
        <a href="{$backupFile['file']}"> {$text['bistro']} v.{$backupFile['version']} {$backupFile['datetime']} {$backupFile['filesize']}</a> 
{/foreach}