<div class="container-fluid mt-3 mb-3 mr-2 w-100">
    <div class="row mb-1">
		<div class="col-6 text-left">
			<h4>{$text['verejnanastenka']}</h4>
		</div>
		<div class="col-6 text-right">
			{$text['poslednizmena']}: {$board_created},
			{$text['zmenil']}: {$board_author}
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			{$board|noescape}
		</div>
	</div>
</div>