{foreach $news_array as $news}
<div class='news_{$news[category]}'> {* 1=herni, 2=systemova *}
    <h3>{$news[nadpis]}</h3>
    {$news[datum]} - {$news[author]} 
    {if $usrinfo[right_power] > 0}
        <a href='/news/delete/{$news[id]}' onclick='return confirm("Opravdu smazat aktualitu &quot;{$news[nadpis]}&quot;?")' title={$text[smazat]}>{$text[smazat]}</a>
    {/if}
    <br/>
    {$news[obsah_md]|noescape}
{/foreach}

