        <div class="mt-1 ml-2 mr-2 mb-3" id="sparklets">{$text['cesta']}:
            <strong class="mr-3">{$title}{if @$subtitle} - {$subtitle}{/if}</strong>
            {if @$actions}
                {$text['akce']}:
                {foreach $actions as $action}
                    <a class="menu-action mr-1 ml-1" href="{$action[0]}">{$action[1]}</a>
                    {if !$iterator->last} | {/if}
                {/foreach}
            {/if}
        </div>