        <div class="pt-1 pl-2 pr-2 pb-3 breadcrumbs-fixed-top" id="sparklets">{$text['cesta']}:
            <strong class="mr-3">{$title}{if @$subtitle} - {$subtitle}{/if}</strong>
            {if @$actions}
                {$text['akce']}:
                {foreach $actions as $action}
                    <a class="menu-action mr-1 ml-1" href="{$action[0]}">{$action[1]}</a>
                    {if !$iterator->last} | {/if}
                {/foreach}
            {/if}
        </div>